# Virtual environment
.venv/

# Environment files
.env
airflow/.env

# Llama directory and its contents
src/Llama-3.2-1B/
./Llama-3.2-1B/
adhdvenv/
src/mistrale/saved_model
src/fine_tuned_llama/
src/tmp_trainer
# envi
